/* App.css */
:root {
    --primary-color: #501F3A;
    --secondary-color: #CB2D6F;
    --accent-color: #CCCCCC;
    --success-color: #14A098;
    --dark-color: #0F292F;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
  }
  
  .content-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0F292F;
    border: 1px solid #ccc;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    text-decoration-color: #0F292F;
  }


.guest-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .add-guest-section {
    margin-bottom: 20px;
  }
  
  .add-guest-section h3 {
    color: #0F292F;
    font-size: 20px;
  }
  
  .add-guest-section label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  .add-guest-section input[type="text"],
  .add-guest-section input[type="email"],
  .add-guest-section select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .add-guest-container {
    max-width: fit-content;
    margin: 20px auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CCCCCC;
    border: 5px solid #501F3A;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
  }

  .guests-section {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .guests-section h3 {
    color: #0F292F;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .guest-table {
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
  }
  
  .guest-table th,
  .guest-table td {
    padding: 8px;
    border-bottom: 1px solid #501F3A;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

.home-container {
    max-width: flex;
    margin: 100px auto;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px;
    background-color: #CCCCCC;
    border: 5px solid #501F3A;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .home-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
.event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .event-tile {
    background-color: #14A098;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .event-name {
    color: #501F3A;
    font-weight: bold;
    font-size: 22px;
  }
  
  .add-event {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .event-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #0F292F;
  }

  .bookkeeping-input {
    max-width: 50%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #0F292F;
    margin: 5px;
  }
  
  .add-event-button {
    padding: 8px 16px;
    background-color: #CB2F6F;
    color: #CCCCCC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .add-event-button:hover {
    background-color: #501F3A;
  }

  .add-event {
    justify-content: center;
    align-items: center;
  }

  /* VendorList.css */
.vendor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .vendor-tile {
    size: 50%;
    background-color: #0F292F;
    padding: 20px;
    border-radius: 8px;
  }
  
  .vendor-name {
    color: #CCCCCC;
    font-weight: bold;
  }
  
  .add-vendor {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .vendor-input {
    width: 50%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    color: var(--primary-color)
  }

  .vendor-info {
    color: #CCCCCC;
  }
  
  .guest-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  
  .add-guest {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .guest-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #6d597a;
  }
  
  .add-guest-button {
    padding: 8px 16px;
    background-color: #CB2F6F;
    color: #cccccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2px;
  }
  
  .add-guest-button:hover {
    background-color: #501F3A;
  }
  .add-vendor-form {
    padding: 20px;
    border: 1px solid var(--accent-color);
    background-color: var(--secondary-color);
    color: var(--accent-color);
  }
  
  .add-vendor-form h3 {
    margin-bottom: 10px;
    color: #0F292F;
    size: 18px;
  }
  
  .add-vendor-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .add-vendor-form input,
  .add-vendor-form select {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: var(--accent-color);
    color: var(--dark-color);
  }
  
  .add-vendor-form button {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--accent-color);
    cursor: pointer;
  }
  
  .add-vendor-form button:hover {
    background-color: var(--success-color);
  }  

  .add-vendor-button {
    padding: 8px 16px;
    background-color: #CB2F6F;
    color: #cccccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2px;
  }

  .add-vendor-button:hover {
    background-color: #501F3A;
  }
  
  .button-primary {
    padding: 8px 16px;
    background-color: #CB2F6F;
    color: #CCCCCC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-primary:hover {
    background-color: #501F3A;
  }

  .edit-event-button {
    padding: 8px 16px;
    background-color: #CB2F6F;
    color: #CCCCCC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 2px;
    font-size:16px;
  }

  .edit-event-button:hover {
    background-color: #501F3A;
  }

  .delete-event-button {
    padding: 8px 16px;
    background-color: #CB2F6F;
    color: #CCCCCC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2px;
    font-size:16px;
  }

  .delete-event-button:hover {
    background-color: #501F3A;
  }

  .archive-event-button {
    padding: 8px 16px;
    background-color: #CB2F6F;
    color: #CCCCCC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2px;
    font-size:16px;
  }

  .archive-event-button:hover {
    background-color: #501F3A;
  }

  .add-vendor-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #CCCCCC;
    border: 5px solid #501F3A;
    border-radius: 4px;
    text-align: center;
  }

  .Guest-List-Container{
    max-width: 100%;
    margin: 50px auto;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px;
    background-color: #CCCCCC;
    border: 5px solid #501F3A;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .resources {
    background: var(--accent-color);
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: start;
    position: relative;
  }
  
  .ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--accent-color);
    padding: 5px;
    color: #CCCCCC;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .ribbon-2 {
    margin-left: 25px;
  }

  .section {
    background: var(--accent-color);
    padding: 20px;
    color: var(--primary-color);
    border-radius: 10px;
    margin-top: 150px;
  }
  
  h1 {
    color: var(--primary-color);
    margin-top: 0;
  }
  
  h2 {
    color: var(--primary-color);
  }

  h3 {
    color: var(--primary-color);
    size: 24px;
  }

  .todo-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
  }
  
  .todo-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
  }
  
  .todo-list li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    margin: -5px;
  }
  
  .todo-list li.checked:before {
    background-color: var(--accent-color);
  }
  
  .todo-list li span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
  }
  
  .todo-list li.checked span {
    text-decoration: line-through;
  }
  
  .todo-list li li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
  }
  
  .todo-list li li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--secondary-color);
    border-radius: 50%;
  }
  
  .todo-list li li span {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: normal;
  }
  
  .to-do-list-title {
    justify-content: center;
    text-align: center;
  }

  .nav-links {
    padding: 8px 16px;
    background-color: #501F3A;
    color: #CCCCCC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
  }
  
  .route-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    padding: 10px;
    color: #CCCCCC;
    font-size: 24px;
    font-weight: bold;
  }

  .directory-container {
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 20px;
  }
  
  .directory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .directory-table th,
  .directory-table td {
    padding: 10px;
    border: 1px solid var(--dark-color);
  }
  
  .directory-table th {
    background-color: var(--dark-color);
    color: var(--accent-color);
  }
  
  .directory-table tr:nth-child(even) {
    background-color: var(--accent-color);
  }
  
  .directory-table tr:nth-child(odd) {
    background-color: #9c9c9c;
  }
  
  .guest-list-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .guest-list-table th,
  .guest-list-table td {
    padding: 10px;
    border: 1px solid var(--dark-color);
  }
  
  .guest-list-table th {
    background-color: var(--dark-color);
    color: var(--accent-color);
  }
  
  .guest-list-table tr:nth-child(even) {
    background-color: var(--accent-color);
  }
  
  .guest-list-table tr:nth-child(odd) {
    background-color: #9c9c9c;
  }

  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--dark-color);
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #CCCCCC;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  
  button[type="submit"]:hover {
    background-color: var(--primary-color);
  }

  .archived-events {
    background-color: var(--success-color);
    color: white;
    padding: 20px;
  }
  
  .archived-event-tile {
    margin-bottom: 10px;
  }
  
  .archived-event-tile a {
    display: block;
    padding: 10px;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .archived-event-tile a:hover {
    background-color: var(--secondary-color);
  }
  
  .archive-text {
    color: var(--primary-color);
  }

  /* Login.css */

.title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  color: var(--primary-color)
}

.description {
  font-size: 36px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  color: var(--primary-color)
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color)
}

.form-input {
  width: 50%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  color: var(--primary-color);
  border: var(--primary-color);
}

.budget-input {
  width: 10%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  color: var(--primary-color);
  border: var(--primary-color);
}

.form-submit {
  background-color: #CB2D6F;
  color: #CCCCCC;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button-login {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: #CCCCCC;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.button-login:hover {
  background-color: #501F3A;
}

.login-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: var(--success-color);
  border-width: 5px;
}

.date-field {
  width: 25%;
  margin: 8px 0;
  box-sizing: border-box;
  border: var(--success-color);
  border-width: 5px;
}

.container {
  display: flex;
  background-color: var(--success-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-container {
  margin-top: 20px;
}

.button-primary {
  background-color: var(--secondary-color);
  color: #CCCCCC;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.event-details {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
}

p {
  font-size: 16px;
}

.add-event-button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #CCCCCC;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}

.event-date {
  max-width: flex;
  margin: 100px auto;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
  background-color: #CCCCCC;
  border: 5px solid #501F3A;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button-primary {
  background-color: var(--secondary-color);
  color: #CCCCCC;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.event-text {
    color: #0F292F;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.budget-container{
  max-width: flex;
  margin: 100px auto;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
  background-color: #CCCCCC;
  border: 5px solid #501F3A;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.event-title {
  color: #0F292F;
  font-size: 36px;
}

.todo-title {
  color: var(--primary-color);
  font-size: 48px;
}

.costs-container {
  max-width: fit-content;
  margin: 20px auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: #CCCCCC;
  border: 5px solid #501F3A;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.costs-table {
  width: 100%;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
}

.costs-table th,
  .costs-table td {
    padding: 8px;
    border-bottom: 1px solid #501F3A;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .accounting-container {
    width: 100%;
    margin: 100px 50px;
    padding: 20px;
    background-color: #CCCCCC;
    border: 5px solid #501F3A;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accounting-container-large {
    width: 90%;
    margin: 100px 50px;
    padding: 10px;
    background-color: var(--success-color);
    border: 5px solid var(--primary-color);
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.directory-container-large {
  width: 90%;
  margin: 100px 50px;
  padding: 10px;
  background-color: var(--success-color);
  border: 5px solid var(--primary-color);
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 75%;
  border-collapse: collapse;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  border-width: 20px;
  border-radius: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--accent-color);
}

.table th {
  background-color: var(--primary-color);
  color: white;
}

.table tr:hover {
  background-color: var(--dark-color);
  cursor: pointer;
}

.table .revenue-entry {
  background-color: var(--success-color);
  color: white;
}

.table .expense-entry {
  background-color: var(--secondary-color);
  color: white;
}
